/* 
  TYPOGRAPHY
  - Preset 1: Young Serif Regular  Bold, 40px, 100% lh 0px ls
  - Preset 2: Young Serif Regular  Bold, 28px, 100% lh 0px ls
  - Preset 3: Oufit SemiBold  Bold, 20px, 100% lh 0px ls
  - Preset 4: Oufit SemiBold  300, 16px, 150% lh 0px ls
  - Preset 5: Oufit SemiBold  Bold, 16px, 150% lh 0px ls

  SPACING

    8px, 12px, 16px, 24px, 32px, 40px, 48px, 128px
*/

:root {
    --primary: #7A284E;
    --secondary: #FFF7FB;
    --stone: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown: #854632;
    --white: #fff;
    font-size: 62.5%;
}

@font-face {
    font-family: 'Young Serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 - 900;
    font-style: normal;
}

html {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;

}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


h2 {
    font-family: 'Young Serif';
    font-weight: 400;
    color: var(--brown);
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* PRESETS */


.pr1 {
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: 0px;
}

.pr2 {
    font-size: 2.8rem;
    line-height: 100%;
    letter-spacing: 0px;
}

.pr3 {
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0px;
}

.pr4 {
    font-family: 'Outfit';
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0px;
}

.pr5 {
    font-family: 'Outfit';
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0px;
}




/* GENERAL STYLES */

body {
    background-color: var(--stone-100);
    padding: 128px 48px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


ul {
    color: var(--brown);
    margin-left: 24px;
}

ul li::marker {
    font-size: .8rem;
}

ol {
    margin-left: 24px;
}

ol li::marker {
    color: var(--brown);
    font-weight: bold;

}

td,
th {
    border-bottom: 1px solid var(--stone-150);
}


hr {
    border: 0;
    border-top: 1px solid var(--stone-150);
    /* color: var(--stone-150); */
}



.column {
    display: flex;
    flex-direction: column;
}

.img-mobile {
    display: none;
}

.img {
    width: 656px;
    height: 300px;
    border-radius: 12px;
    aspect-ratio: 1;
}

/* DESKTOP */
.card {
    background-color: var(--white);
    border-radius: 24px;
    padding: 40px;
    max-width: 736px;
    gap: 40px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    gap: 24px;

    & h2 {
        color: var(--stone);
    }

    & p {
        color: var(--stone-600);
    }
}

.preparation {
    gap: 16px;
    padding: 24px;
    background-color: var(--secondary);
    border-radius: 12px;

    & h2 {
        color: var(--primary);
    }

    & ul {

        gap: 8px;
    }

    & p {
        color: var(--stone-600);
    }

    & p span {
        font-weight: bold;
        margin-left: 16px;
    }
}

.ingredients {
    gap: 24px;

    & ul {
        gap: 8px;
    }

    & li p {
        color: var(--stone-600);
        margin-left: 16px;
    }
}

.instructions {

    gap: 24px;



    & p {
        color: var(--stone-600);
        font-weight: 400;
        margin-left: 16px;
    }

    & span {
        font-weight: bold;

    }

    & ol {
        gap: 8px;
    }
}

.nutrition {
    gap: 24px;

    & p {
        color: var(--stone-600);
        font-weight: 400;
    }

    & table {
        text-align: left;
        border-spacing: 0;
    }


    & th {
        padding-left: 32px;
        padding-bottom: 12px;
        color: var(--stone-600);
        font-weight: 400;
    }

    & td {
        padding: 12px 0;
        padding-left: 32px;
    }


    /* I would like a suggestion on how to position the th without
        Interferring with the td elements 
    */

    & th.value {
        padding-left: -1px;
    }


    & td.value,
    th.value {
        color: var(--brown);
        font-weight: 600;

    }


    & table {
        width: 100%;
        border-collapse: collapse;
        color: var(--stone-600);
        font-weight: 400;

    }


    & tr:last-child td {
        border-bottom: none;
    }

}

/* TABLET */

@media (max-width: 768px) {
    .card {
        max-width: 616px;
    }

    .img {
        /* width: 536px; */
        height: 300px;

    }
}


/* MOBILE */

@media (max-width: 375px) {

    body {
        padding: 0;
    }

    .card {
        max-width: 100%;
        border-radius: 0;
    }

    .img {
        display: none;
    }

    .img-mobile {
        display: block;
        height: 171px;
    }

    .title h2 {
        font-size: 3.2rem;
    }

    .attribution {
        display: none;
    }
}